
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif !important;
}
/* common style  */
.common-space {
  padding: 30px;
  background: #f9f7f7;
}

/* user list style  */
.user-list-box {
  border-radius: 8px;
  background: #fff;
  padding: 20px 20px;
}

.user-info-card {
  background-color: #f9f7f7 !important;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.102);
  border: none !important;
  min-height: 179px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.user-info-card:hover {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.user-info-card .user-img {
  margin-bottom: 3px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  object-fit: cover;
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}

.not-found-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.skeleton-card {
  border-radius: 10px;
  height: 179px !important;
}


@media (max-width:420px) {
  .css-tdnytb-MuiButtonBase-root-MuiPaginationItem-root {
    min-width: 20px !important;
    margin: 0 2px !important;
    height: 20px !important;
  }
}
